<h1>Artikel</h1>

<div class="row">
    <div class="col-lg-4" *ng-for="#art of articles">
        <h4><a>{{ art.name }}</a></h4>
        <img src="img/no_image.png" style="width: 20%;max-height: 20%">
        <p>{{ art.description }}</p>
        <p>{{ art.price }} &#8364</p>
        <p>
            <rater [max]="5" [value]="art.rating"></rater>
            <!-- <rater rating="2"></rater> -->
        </p>
        <button class="btn btn-primary" (click)="addArticle(art)">Kaufen</button>
    </div>
</div>

<nav>
    <ul class="pager">
        <li class="previous"><button class="btn btn-default" (click)="previous()"><span aria-hidden="true">&larr;</span> Previous</button></li>
        <li class="next"><button class="btn btn-default" (click)="next()">Next <span aria-hidden="true">&rarr;</span></button></li>
    </ul>
    <ul class="pager">

    </ul>
</nav>